<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="9.3">
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\config\CorsConfig.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\constants\OrderConstants.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\controller\CartController.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\controller\OrderController.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\converter\DtoConversion.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\AddressOutDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\CartInDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\CartItemDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\CartOutDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\FoodItemOutDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\MessageOutDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\OrderInDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\OrderOutDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\dto\UserOutDto.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\entities\Cart.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\entities\Order.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\exception\AccessDeniedException.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\exception\GlobalExceptionHandler.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\exception\ResourceConflictException.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\exception\ResourceNotFoundException.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\OrdersApplication.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\repositories\CartRepository.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\repositories\OrderRepository.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\CartService.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\FeignConfiguration.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\impl\CartServiceImpl.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\impl\OrderServiceImpl.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\impl\RestaurantFeignClientFallback.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\impl\UserFeignClientFallback.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\OrderService.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\RestaurantFeignClient.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\service\UserFeignClient.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\utils\OrderStatus.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\java\com\orders\utils\UserRole.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\controller\CartControllerTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\controller\OrderControllerTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\AddressOutDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\CartInDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\CartOutDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\FoodItemOutDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\MessageOutDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\OrderInDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\OrderOutDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\dto\UserOutDtoTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\entities\CartTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\entities\OrderTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\OrdersApplicationTests.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\service\impl\CartServiceImplTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\test\java\com\orders\service\impl\OrderServiceImplTest.java">
</file>
<file name="D:\Capstone\backend\Orders\src\main\resources\application.properties">
</file>
</checkstyle>
